<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">

  <title>{{title}}</title>
</head>


<body>
  <div class="container">
    {{>header}}


    {{>form}}


    <p id="message-1">City:</p>


    <p class='message_two' id="message-2"></p>

    {{>footer}}
  </div>
  <script src="/js/app.js"></script>
</body>

</html>