body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 960px;
  height: 800px;
}
.main_title {
  font-family: "Lato", sans-serif;
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 10px;
  color: rgb(117, 124, 130);
  cursor: default;
}
.nav_bar {
  width: 100%;
  margin-bottom: 20px;
  float: right;
}
.nav_bar {
  list-style: none;
  width: 100%;
  padding-left: 0px;
}
.nav_bar li {
  float: left;
  margin-right: 15px;
}
.nav_bar li:nth-child(3) {
  margin-right: 0px;
}

.a_links {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(75, 124, 230);
}
.a_links:hover {
  color: rgb(75, 124, 180);
}

.sub_title {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  letter-spacing: 1.3px;
  color: rgb(60, 64, 67);
  margin-top: 0px;
  cursor: default;
}
.input_search {
  height: 30px;
  outline-color: rgb(75, 124, 230);

  width: 50%;
  font-family: "Lato", sans-serif;

  padding-left: 15px;
  font-style: italic;
}

.search_btn {
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: rgb(75, 124, 230);
  outline: none;
  border: transparent;
  color: rgb(255, 255, 255);
  height: 36px;
  padding: 0px 30px;
  transition: all ease-out 0.3s;
  cursor: pointer;
}
.search_btn:hover {
  background-color: rgb(75, 124, 180);
}

#message-1 {
  font-family: "Lato", sans-serif;
  background-color: rgb(75, 124, 230);
  width: 52%;
  padding: 10px 15px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  transition: all ease-out 0.3s;
  height: 42px;
  cursor: default;
}
.message_two {
  font-family: "Lato", sans-serif;
  /*background-color: rgb(75, 124, 230);*/
  width: 52%;
  padding: 10px 15px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.7);
  height: 42px;
  transition: all ease-out 0.3s;
  cursor: default;
}
hr {
  border-color: rgba(255, 255, 255, 0.3);
}
.footer {
  margin-top: 25px;
}
.footer_info {
  font-family: "Lato", sans-serif;
  color: rgba(0, 0, 0, 0.7);
  text-align: right;
  font-size: 14px;
  cursor: default;
}
.dummy_text {
  font-family: "Lato", sans-serif;
  margin-bottom: 55px;
  color: rgba(0, 0, 0, 0.7);
  cursor: default;
}
